.section-feature {

    padding: 52px 0;

    @media (max-width: 768px) {
        padding: 32px 12px;
    }
}

.section-feature.image_with_text_overlay {
    padding: 0;
}

.section-feature.gallery {
    padding-left: 0;
    padding-right: 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    >.container-gallery {

        width: 100%;

        @media (max-width: 768px) {
            padding: 0 12px;

            max-width: 400px;
        }

        >.row {

            >.col {
                padding: 0px;
            }
        }

        .card-img {}

        .card-img-overlay {
            background-color: rgba(0, 0, 0, 0.3);

            >.card-title {
                color: #fff;
            }
        }
    }
}

.section-feature.collection_list {
    padding-left: 0;
    padding-right: 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    >.container {

        width: 100%;

        @media (max-width: 768px) {
            padding: 0 12px;

            max-width: 400px;
        }

        .card {
            margin-bottom: 24px;
        }

        .card-img {
            background-position: center center;
            background-repeat: no-repeat;
            background-size: cover;
            padding: calc(100% / 3);
        }

        .card-img-overlay {
            background-color: rgba(0, 0, 0, 0.3);

            >.card-title {
                color: #fff;
            }
        }

        .card-click {
            cursor: pointer;
        }

        .card-click:hover {
            background-color: rgba(0, 0, 0, 0.4);
        }
    }
}

.image-text-overlay {
    position: relative;
    width: 100%;
    height: 475px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    >.image {
        position: absolute;

        >img {
            width: 100%;
            object-fit: contain;
            position: relative;
        }
    }

    >.overlay {
        position: absolute;
        width: 100%;
        height: 100%;


        background-color: #ccc;
        opacity: 0.5;
    }

    >.text-content {
        width: 100%;
        position: absolute;

        text-align: center;

        padding: 32px;
    }

}


.image-text.right {
    flex-direction: row-reverse;

}

.image-text {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    @media (max-width: 768px) {
        flex-wrap: wrap;
    }


    >.image {
        width: 50%;

        @media (max-width: 768px) {
            width: 100%;
        }

        >img {
            width: 100%;
        }
    }

    >.text-content {
        width: 50%;

        padding: 32px 0px;
        padding-left: 32px;

        @media (max-width: 768px) {
            width: 100%;
            padding-left: 0px;
        }
    }
}


.text-columns {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    @media (max-width: 768px) {
        flex-wrap: wrap;
    }

    >.column {
        width: calc((100% - 32px) / 3);
        display: flex;
        flex-direction: column;
        justify-content: center;

        @media (max-width: 768px) {
            width: calc(100% / 2);
        }

        >.image {
            width: 100%;

            >img {
                width: 100%;
            }
        }

        >.text-content {
            width: 100%;

            padding: 12px 0px;


        }

    }


}